canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    
}
.gameButton{
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

* {
	box-sizing: border-box;
	font-family:  Lucida Sans Unicode;
  }
  
body{
	font-family: arial;
}
h1{
	color: #1d82ad;
	background-color: dark gray;
	text-shadow: 2px 2px 4px #000000;
	display: flex;
	height: auto;
}
h3{
	color: #1ab4f7;
	background-color: dark gray;
	text-shadow: 2px 2px 4px #2b3ee7;
	text-align: center;
	
}
.headerlink{
	text-decoration: none;
	font-size: 40px;
	color: rgb(131, 74, 238);
}
.formstyle{
	display:inline;
}
p{
	display:inline;
	color: blue;
}
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: rgb(201, 205, 207);
	color: black;
	
}

.topnav a.active {
	background-color: #4693d1;
	color: white;
}

.sub{
	text-align: center;
	padding: 20px;
}

.sub button{
	
	display: inline;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px;
	background-color: #4693d1;
	margin: 10px;
	font-size: 25px;
	text-shadow: 2px 2px 4px #000000;

}
.sub button:hover{
	background-color: rgb(21, 58, 100);
	cursor: pointer;
	color: white;
}
footer{
	background-color: gray;
	font-size: 10px;
	padding:5px;
	position:absolute;
    width:100%;
    bottom:0px;
	
}

.column {
  float: left;
  width: auto;
  text-align: center;
  display: flex;
  padding: auto;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.row{
	padding: 10px;
}
.row input{
	width: 50%;
}
.row:after {
  content: "";
  display: flex;
  clear: both;
  margin: auto;
  
}


.content{
	padding: 10px;
}
.content p{
	font-size: 50px;
	padding: 10px;
	color: #704bd6;
	text-shadow: 2px 2px 4px #000000;
}
.gpa{
	color: #158127;
	background: rgb(199, 197, 197);
	font-size: 25px;
	padding: 5px;
}